#navbar {
    font-size: 18px;
    padding: 1% 5%;
    background-color: #097969;
}

#navbar a,
button {
    color: #ffff;
}

form li {
    display: block;
}

#drop {
    background-color: #097969;
}

#drop a:hover {
    color:black;
}




