#deals {
    /* background-color: #ecf5f7; */
    padding: 5% 5%;
    /* margin: 5% 5%; */
    /* border-radius: 5px; */
}

.buttons {
    margin: 0 auto;
}



/* #deals img {
    align-items: center;
    width: 10rem;
    height: 10rem;
} */

#deals .card {
    /* border: 0.5px solid grey; */
    padding: 2% 5%;
    margin-bottom: 7%;
}

#deals .card:hover {
    border: 1.5px solid #097969;
}

#dealsRow {
    margin-top: 5%;
}

#dealsRow .card {
    align-items: center;
}

#buttons {
    width:100%;
    display: flex;
    justify-content: space-around;
}