
<!--carousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="2000" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/aamir.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../../assets/aamir2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../../assets/1652971674_Title-Banner-Web1680-x-320.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/1653314545_Web_Home_title_Sugar.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/1068fd1a228-Neurobion-PrimaryDweb-May22.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/7400d70904b-DWEB.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!--Trending Today-->
  <div id="trending">
    <h3>Trending Today</h3>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <img src="../../assets/healthcare/1641490492_Skin-Elements_web.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <img src="../../assets/healthcare/1643047630_Web_Banner_436x244pxl.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-2">
        <div class="card" id="thirdCard">
          <img src="../../assets/healthcare/1650449090_Koparp_Web.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
  
  <!--nav-->
  <div class="nav ">
    <div id="brandName">
      <i class="fa-solid fa-prescription-bottle-medical"></i><h2>Pharma.com</h2>
    </div>
    <div id="desc">
      <strong>Save flat 5% extra on medicines & enjoy delivery with PLUS membership</strong>
    </div>
  </div>
  
  <!--Deals-->
  <div id="deals">
    <div id="head">
      <h3 class="me-auto">Deals of the day</h3>
      <button class="btn btn-success" routerLink="/products">View More</button>
    </div>
    <div class="row" id="dealsRow">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card" style="width:18rem;">
          <img src="../../assets/products/onetouch.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Nicotex Nicotine Patch 7mg</strong>
              <br><strong>Helps Quit Smoking</strong><br><strong>₹449.25</strong>
            </p>
          </div>
          <a href="#" style="width:100%;" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card" style="width:18rem;">
          <img src="../../assets/products/horliks.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Horliks Health & Nutrition Drink Jar, 200G</strong>
              <br><strong>₹113.00</strong>
            </p>
          </div>
          <a href="#" style="width:100%;" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card" style="width:18rem;">
          <img src="../../assets/products/himalaya.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Himalaya Guduchi Tablets - 60'S
              </strong><br><strong>₹132</strong></p>
          </div>
          <a href="#" style="width:100%;" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row" id="middleNav">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <img src="../../assets/middle nav/4d2f7c48.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="headName">25 Millon</p>
          <p class="bottomName">Register Users as of Jun 30</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <img src="../../assets/middle nav/773ae9c5.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="headName">8.8 Millon</p>
          <p class="bottomName">Pharma.com Orders as FY21</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <img src="../../assets/middle nav/92c372bb.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="headName">50K+</p>
          <p class="bottomName">SKU sold Q1FY22</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <img src="../../assets/middle nav/f2d557d3.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="headName">18K+</p>
          <p class="bottomName">Pin-Codes Serviced for month of June 2021</p>
        </div>
      </div>
    </div>
  </div>
  
  <!--footer-->
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>COMPANY</h5>
                <p>About Us</p>
                <p>Team</p>
                <p>Careers</p>
                <p>Blog</p>
            </div>
            <div class="col-lg-4">
                <h5>CONTACT</h5>
                <p>Help & Support</p>
                <p>Partner with Us</p>
                <p>Ride with Us</p>
            </div>
            <div class="col-lg-4">
                <h5>LEGAL</h5>
                <p>Terms & Conditions</p>
                <p>Refund & Cancellation</p>
                <p>Privacy Policy</p>
                <p>Cookie Policy</p>
            </div>
        </div>
    </div>
    <hr>
    <footer id="footer icon">
      <i class="fab fa-facebook fa-2x"></i> &nbsp;
      <i class="fas fa-mail-bulk fa-2x"></i>&nbsp;&nbsp;
      <i class="fab fa-twitter-square fa-2x"></i>&nbsp;
      <p>© 2022 Pharma.com</p>
  </footer>